@{
    ViewData["Title"] = "Home Page";
}

<style>
h1.one {
  border-style: solid;
  border-color: #30e3ca;
}
</style>
<div class="text-center">
    <h1 class="display-4 one p-3">Shopping Center</h1>
    @* <h1 class="display-4"><a href="#" style="color: #30e3ca; text-decoration: none;">Shopping Center</a></h1> *@
    <div class="p-5">
        <h3>¡¡Bienvenido!!</h3>

    </div>

</div>
